/* body {
    display: flex;
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

table {
    display: flex;
    flex-direction: column;
    color: black;
    justify-content: space-around;
    align-items: center;
} */