body {
  display: flex;
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  align-items: center;
  flex-direction: column;
  background-color: rgb(250, 203, 117);
}

a {
  color: #00B7FF;
}

/* thead {
  display: flex;
  justify-content: space-around;
} */